<ion-view view-title="PickMyCloth">
  <ion-content class="padding" style="font-color: #fff !important;">
    <div class="row row-center no-margin">
      <div class="col">
        <a href="/#/products">
        <div class="card ">
          <div class="item item-text-wrap text-center bg-red">
            <p>Products</p>
            <p> {{products}} </p>
          </div>
        </div>
        </a>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap text-center bg-orange">
            <p>Categories</p>
            <p> {{categories}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-center no-margin">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap text-center bg-lblue">
            <p>Customers</p>
            <p> {{customers}} </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap text-center bg-blue">
            <p>Payments</p>
            <p> {{payments}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-center no-margin">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap text-center bg-lgreen">
            <p>Purchases</p>
            <p> {{purchases}} </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap text-center bg-red">
            <p>Campaign Sets</p>
            <p> {{usercampaigns}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-center no-margin">
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap text-center">
            <p style="color: #000 !important;">User Campaigns</p>
            <p style="color: #000 !important;"> 45 </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="item item-text-wrap text-center bg-orange">
            <p>Help</p>
            <p> {{help}} </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
